<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= form.label "nombre" %>
        <%= form.text_field :name %>
    </div>
    <div class="field">
        <%= form.label "Apellido Paterno" %>
        <%= form.text_field :surname %>
    </div>
    <div class="field">
        <%= form.label "Apellido Materno" %>
        <%= form.text_field :second_surname %>
    </div>
    <div class="field">
        <%= form.label "Calle" %>
        <%= form.text_field :street %>
    </div>
    <div class="field">
        <%= form.label "Colonia" %>
        <%= form.text_field :neighborhood %>
    </div>
    <div class="field">
        <%= form.label "Ciudad" %>
        <%= form.text_field :city %>
    </div>
    <div class="field">
        <%= form.label "Estado" %>
        <%= form.text_field :state %>
    </div>
    <div class="field">
        <%= form.label "Codigo Postal" %>
        <%= form.text_field :zipcode %>
    </div>
    <div class="field">
        <%= form.label "RFC" %>
        <%= form.text_field :rfc %>
    </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
