<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Calle</th>
      <th>Número Exterior</th>
      <th>Número Interior</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th>Codigo postal</th>
      <th>RFC</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.second_surname %></td>
        <td><%= client.street %></td>
        <td><%= client.neighborhood %></td>
        <td><%= client.city %></td>
        <td><%= client.state %></td>
        <td><%= client.zipcode %></td>
        <td><%= client.rfc %></td>
        <td><%= link_to 'Ver', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { "turbo-method": :delete } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo cliente', new_client_path %>
